<div id="admin-container">

    <div class="normalheader">
        <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
                <li><a ui-sref="dashboard.main">Dashboard</a></li>
                <li class="active">
                    <span>Samples</span>
                </li>
            </ol>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                  Samples
                </h2>
                <small>Manage samples</small>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Samples
                    </div>
                    <div class="panel-body no-padding">

                        <grid-v2 grid="grid"></grid-v2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
