<div id="admin-container">

    <div class="normalheader">

        <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
                <li><a ui-sref="dashboard.main">Dashboard</a></li>
                <li class="active">
                    <span>Samples</span>
                </li>
            </ol>
        </div>
        <div class="hpanel">
            <div class="panel-body">

                <div class="panel-actions btn-group">
                    <label class="btn btn-sm btn-default">
                        <i class="fa fa-cog"></i>
                    </label>
                    <label title="Notifications" class="btn btn-sm btn-default" cb-object-notifications object-type="sample">
                        <i class="fa fa-bell"></i>
                    </label>
                </div>

                <h2 class="font-light m-b-xs">
                  Samples
                </h2>

                <small>Manage samples</small>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                <button class="btn btn-primary btn-block btn-mobile-stack" ng-click="create()">Create Sample</button>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                <cb-dropdown
                    cb-dropdown-info
                    bind-to="name"
                    name="sampleType"
                    ng-model="importSampleType"
                    label="Import Samples"
                    items="sampleTypes"
                    cb-on-select="importSamples"
                    required
                >
                </cb-dropdown>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Samples
                    </div>
                    <div class="panel-body no-padding">

                        <grid grid="grid"></grid>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


