<div id="admin-container">

    <div class="normalheader">
        <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
                <li><a ui-sref="sample.index">Samples</a></li>
                <li class="active">
                    <span>Sample {{sample.id}}</span>
                </li>
            </ol>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <button ng-click="edit(sample)" class="btn btn-primary v-align-top m-r-sm"><i class="fa fa-pencil"/></button>
                <h2 class="font-light m-b-xs inline">
                  Sample {{sample.id}} - {{sample.name}}
                </h2>
                <small class="block">{{sample.description}}</small>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="row">
            <div class="col-sm-12">
                <h2><span class="label label-pill label-{{labelClass}} block">{{sample.status}}</span></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-location-arrow"></i>
                        Location
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table-detail">
                            <tr>
                                <td></td>
                                <td>
                                    <a ui-sref="storage.division.detail({id:sample.divisionId})">{{sample.division.title}} - Row {{sample.divisionRow}} - Column {{sample.divisionColumn}}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-4">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-info" />
                        Details
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table-detail">
                            <tr>
                                <td>Id</td>
                                <td>{{sample.id}}</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>{{sample.name}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-users"></i>
                        People
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table-detail">
                            <tr>
                                <td>Created By</td>
                                <td>{{sample.createdBy.fullName}}</td>
                            </tr>
                            <tr>
                                <td>Updated By</td>
                                <td>{{sample.updatedBy.fullName}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-calendar"></i>
                        Dates
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table-detail">
                            <tr>
                                <td>Created At</td>
                                <td>{{sample.createdAt | date:'medium'}}</td>
                            </tr>
                            <tr>
                                <td>Last Updated At</td>
                                <td>{{sample.updatedAt | date:'medium'}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <cb-attachments object-id="sample.id" object-class="AppBundle\Entity\Storage\Sample"></cb-attachments>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <img style="width:50px;" src="images/{{iconFile}}" />
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table-detail">


                            <!-- DNA -->

                            <tr>
                                <td>Sample Type</td>
                                <td>{{sample.sampleType.name}}</td>

                            </tr>
                            <tr ng-if="sample.sampleType.name === 'DNA'">
                                <td>Vector Name</td>
                                <td>{{sample.vectorName}}</td>
                            </tr>

                            <tr ng-if="sample.sampleType.name === 'DNA'">
                                <td>Concentration</td>
                                <td>{{sample.concentrationString}}</td>
                            </tr>

                            <tr ng-if="sample.sampleType.name === 'DNA'">
                                <td>DNA Sequence</td>
                                <td title="{{sample.dnaSequence}}">{{sample.dnaSequence}}</td>
                            </tr>

                            <tr ng-if="sample.sampleType.name === 'DNA'">
                                <td>Amino Acid Sequence</td>
                                <td>{{sample.aminoAcidSequence}}</td>
                            </tr>

                            <tr ng-if="sample.sampleType.name === 'DNA'">
                                <td>Amino Acid Count</td>
                                <td>{{sample.aminoAcidCount}}</td>
                            </tr>

                            <tr ng-if="sample.sampleType.name === 'DNA'">
                                <td>Molecular Weight</td>
                                <td>{{sample.molecularWeight}}</td>
                            </tr>

                            <tr ng-if="sample.sampleType.name === 'DNA'">
                                <td>Extinction Coefficient</td>
                                <td>{{sample.extinctionCoefficient}}</td>
                            </tr>

                            <tr ng-if="sample.sampleType.name === 'DNA'">
                                <td>Purification Tags</td>
                                <td>{{sample.purificationTags}}</td>
                            </tr>

                            <!-- Protein -->

                            <!-- Sera -->
                            <tr ng-if="sample.sampleType.name === 'Sera'">
                                <td>Species</td>
                                <td>{{sample.species}}</td>
                            </tr>

                            <!-- Bacterial Cells-->
                            <tr ng-if="sample.sampleType.name === 'Bacterial Cells'">
                                <td>Cell Line</td>
                                <td>{{sample.cellLine}}</td>
                            </tr>

                            <!-- Mammalian Cells-->
                            <tr ng-if="sample.sampleType.name === 'Mammalian Cells'">
                                <td>Cell Line</td>
                                <td>{{sample.cellLine}}</td>

                            </tr>
                            <!-- Yeast Cells-->
                            <tr ng-if="sample.sampleType.name === 'Yeast Cells'">
                                <td>Cell Line</td>
                                <td>{{sample.cellLine}}</td>
                            </tr>

                            <!-- Chemical Compound -->
                            <tr ng-if="sample.sampleType.name === 'Chemical Compound'">
                                <td>Mass (g)</td>
                                <td>{{sample.mass}}</td>
                            </tr>

                            <!-- Solution -->

                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Projects Linked to Sample {{sample.id}}
                    </div>
                    <div class="panel-body no-padding">

                        <grid grid="projectGrid"></grid>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Samples Linked to Sample {{sample.id}}
                    </div>
                    <div class="panel-body no-padding">

                        <grid grid="linkedSamplesGrid"></grid>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                     <uib-tabset active="active">
                        <uib-tab index="0">
                            <uib-tab-heading>
                                <i class="glyphicon glyphicon-comment"></i> Comments
                            </uib-tab-heading>
                            <div class="panel-body">
                                <cb-object-comments object-type="sample" object-id="sample.id"></cb-object-comments>
                            </div>
                        </uib-tab>
                        <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
                            {{tab.content}}
                        </uib-tab>
                        <uib-tab index="3" select="alertMe()">
                            <uib-tab-heading>
                                <i class="glyphicon glyphicon-bell"></i> Activity
                            </uib-tab-heading>
                            <div class="panel-body no-padding">
                                <object-history object-class="AppBundle\Entity\Storage\Sample" object-id="sample.id"></object-history>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>

    </div>
</div>
