<div id="admin-container">

    <div class="normalheader">
        <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
                <li><a ui-sref="dashboard.main">Dashboard</a></li>
                <li><a ui-sref="sample.index">Samples</a></li>
                <li class="active">
                    <span>Sample Import</span>
                </li>
            </ol>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                    <i class="glyphicon glyphicon-import"/>
                    {{sampleType.name}} Sample Import
                </h2>
                <small>Import {{sampleType.name}} samples from CSV</small>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="row">
            <div class="col-sm-4">
                <button ng-click="download()" class='btn btn-info btn-block'>Download Template</button>
            </div>
            <div class="col-sm-4">
                <button ng-click="upload()" class='btn btn-primary btn-block'>Upload</button>
            </div>
        </div>

        <div class="row" ng-if="importGrid">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Samples to be Imported
                    </div>
                    <div class="panel-body no-padding">

                        <grid grid="importGrid"></grid>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
