<div class="row" ng-if="!division.hasDimension">
    <div class="col-sm-3" ng-repeat="division in children" ui-sref="storage.division({id:division.id})">
        <div class="hpanel selectable">
            <div class="panel-heading hbuilt">
                <i class="fa fa-th"/>
                {{division.title}}
                <div class="panel-tools"></div>
            </div>
            <div class="panel-body">
                {{division.title}}
            </div>
        </div>
    </div>
</div>

<div class="hpanel storage-box-tools" ng-if="division.hasDimension">
    <div class="panel-body">
        <div class="col-sm-6">
            <div class="btn-group">
                <label class="btn btn-sm btn-default" ng-model="radioModel" btn-radio="'Left'">
                    <i class="fa fa-hand-o-up" />
                </label>
                <label class="btn btn-sm btn-default" ng-model="radioModel" btn-radio="'Right'">
                    <i class="fa fa-arrows-alt" />
                </label>
            </div>
            <div class="btn-group m-l-md">
                <label class="btn btn-sm btn-default">
                    <i class="fa fa-edit" />
                </label>
                <label class="btn btn-sm btn-default">
                    <i class="fa fa-save" />
                </label>
            </div>
        </div>
        <div class="col-sm-offset-3 col-sm-3">
            <div range-slider min="50" max="100" model-max="zoom.percentage" pin-handle="min"></div>
        </div>
    </div>
</div>

<div class="row" ng-if="division.hasDimension">
    <div class="col-sm-12">

        <table id="division-table" storage-box division="division">
            <thead>
                <tr>
                    <td></td>
                    <td
                        ng-class-odd="'odd'"
                        ng-class-even="'even'"
                        ng-repeat="number in columns"
                    >
                        <span class="column-heading" storage-box-heading>
                            {{number}}
                        </span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr
                    ng-class-odd="'odd'"
                    ng-class-even="'even'"
                    ng-repeat="row in rows"
                >
                    <td
                        class="row-head"
                        ng-class-odd="'odd'"
                        ng-class-even="'even'"
                    >
                        <span class="column-heading" storage-box-heading>
                            {{row}}
                        </span>
                    </td>
                    <td
                        ng-class-odd="'odd'"
                        ng-class-even="'even'"
                        ng-repeat="column in columns"
                        storage-box-cell
                        sample="samples[row][column]"
                        row="row"
                        column="column"
                    >
                        <div
                            class="cell"
                            ng-class="{'has-sample': samples[row][column]}"
                        >
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
