<div ng-if="division.hasDimension">
    <div class="division-table-container">
        <table id="division-table" storage-box division="division">
            <thead>
                <tr>
                    <td></td>
                    <td
                        ng-class-odd="'odd'"
                        ng-class-even="'even'"
                        ng-repeat="number in columns"
                    >
                        <span class="column-heading" storage-box-heading>
                            {{number}}
                        </span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr
                    ng-class-odd="'odd'"
                    ng-class-even="'even'"
                    ng-repeat="row in rows"
                >
                    <td
                        class="row-head"
                        ng-class-odd="'odd'"
                        ng-class-even="'even'"
                    >
                        <span class="column-heading" storage-box-heading>
                            {{row}}
                        </span>
                    </td>
                    <td
                        ng-class-odd="'odd'"
                        ng-class-even="'even'"
                        ng-repeat="column in columns"
                        storage-box-cell
                        sample="samples[row][column]"
                        row="row"
                        column="column"
                    >
                        <div
                            class="cell"
                            ng-class="{'has-sample': samples[row][column]}"
                        >
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
