<div class="row" ng-if="!division.hasDimension">
    <div class="col-sm-3" ng-repeat="division in children" ui-sref="storage.division({id:division.id})">
        <div class="hpanel selectable">
            <div class="panel-heading hbuilt">
                <i class="fa fa-th"/>
                {{division.title}}
                <div class="panel-tools"></div>
            </div>
            <div class="panel-body">
                {{division.title}}
            </div>
        </div>
    </div>
</div>


<div class="row" ng-if="division.hasDimension">
    <div class="col-sm-12">

        <table id="division-table">
            <thead>
                <tr>
                    <td></td>
                    <td
                        ng-class-odd="'odd'"
                        ng-class-even="'even'"
                        ng-repeat="number in [1,2,3,4,5,6,7,8,9,10]"
                    >
                        {{number}}
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr
                    ng-class-odd="'odd'"
                    ng-class-even="'even'"
                    ng-repeat="row in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']"
                >
                    <td
                        class="row-head"
                        ng-class-odd="'odd'"
                        ng-class-even="'even'"
                    >
                        {{row}}
                    </td>
                    <td
                        ng-class-odd="'odd'"
                        ng-class-even="'even'"
                        ng-repeat="cell in [1,2,3,4,5,6,7,8,9,10]"
                    >
                        <div
                            class="has-sample"
                            ng-if="samples[row][cell]"
                        >
                        </div>
                        <div ng-if="!samples[row][cell]" class="circle"></div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
