<div class="btn-group" uib-dropdown is-open="status.isopen" ng-controller="sampleRowActionsCtrl">
    <button id="single-button" type="button" class="btn btn-default btn-xs" uib-dropdown-toggle ng-disabled="disabled">
        <span class="fa fa-cog"></span>
    </button>
    <ul uib-dropdown-menu class="dropdown-menu pull-right" role="menu" aria-labelledby="single-button" ng-if="!result.deletedAt">
        <li role="menuitem">
            <a ui-sref="sample.detail({id:result.id})"><i class="fa fa-file-o m-r-xs"/>View</a>
        </li>
        <li class="divider"></li>
        <li role="menuitem">
            <a ng-click="editSample(result)"><i class="fa fa-edit m-r-xs"/>Edit</a>
        </li>
        <li ng-if="result.status == 'Incoming'" role="menuitem">
            <a ng-click="receive(result)"><i class="fa fa-hand-grab-o m-r-xs"/>Receive Sample</a>
        </li>
    </ul>
    <ul uib-dropdown-menu class="dropdown-menu pull-right" role="menu" aria-labelledby="single-button" ng-if="result.deletedAt">
        <li role="menuitem">
            <a ng-click="restore(result)"><i class="fa fa-window-restore m-r-xs"/>Restore</a>
        </li>
        <li role="menuitem">
            <a ng-click="purge(result)"><i class="fa fa-eraser m-r-xs"/>Purge</a>
        </li>
    </ul>
</div>
