.grid-header {

    &.sortable {

        &:hover {

            cursor: pointer;

        }

    }


}
.grid-pagination-container {
    padding: 5px 10px 0px 10px;
}
.grid-pagination-top-container {
    padding: 5px 10px 0px 10px;
    .page-select {
        display: inline-block;
        width: auto;
    }

    .grid-search {
        width: auto;
    }
}

.grid-responsive-table {
    overflow: auto;
    .table>thead>tr>th {
        border-bottom: 1px solid rgb(183, 183, 183);
    }
    .table-hover>tbody>tr:hover {
        background-color: #E9F3FB;
    }
}
