.grid-header {

    &.sortable {

        &:hover {

            cursor: pointer;

        }

    }


}
.grid-pagination-top-container {
    .page-select {
        display: inline-block;
        width: auto;
    }

    .grid-search {
        width: auto;
    }
}

.grid-responsive-table {
    overflow: auto;
}
