.grid-header {

    &.sortable {

        &:hover {

            cursor: pointer;

        }

    }


}
.grid-pagination-container {
    padding: 5px 10px 0px 10px;
}

.grid-responsive-table {
    .table>thead>tr>th {
        border-bottom: 1px solid rgb(183, 183, 183);
    }
    .table-hover>tbody>tr:hover {
        background-color: #E9F3FB;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        vertical-align: middle;
    }
    &.isEditable {
        border-width: 0px 1px 1px 1px;
        border-color: #e5e6e7;
        border-style: solid;
        .table-striped>tbody>tr:nth-of-type(odd) {
            background-color: #F3F3F3;
        }
    }

    tr.removing {
        background-color: #FFE4E4 !important;
        td {
            border-top: 1px solid #FFD1D1;
        }
    }
}

grid-filter {

    .dropdown-toggle {
        font-size: 12px;
        margin-right: 5px;
        .caret {
            margin-left: 3px;
        }
    }

    .dropdown-menu {

        .grid-filter-item-detail {
            margin: 0;
        }

        .grid-filter-check {
            margin-right: 5px;
        }

        .grid-filter-search {
            input {
                font-size: 12px;
                height: 30px;
                padding: 0px 5px;
            }
            margin: 7px;
            display: block;
        }

    }

}

.grid-pagination-top-container {
    margin: 10px;
}

.grid-filter-container {
   display: inline-block;
}

.grid-per-page-container {

    display: inline-block;

    select {
        height: 31px;
        font-size: 12px;
        width: 50px;
        margin: 0px 5px;
    }

}

.grid-contains-container {
    display: inline-block;
    width: 250px;
    vertical-align: bottom;
    .grid-contains-search-input {
        height: 31px;
        font-size: 12px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .grid-contains-search-btn {
        height: 31px;
        line-height: 12px;
        i {
            font-size: 12px;
        }
    }
    .no-bottom-radius {
        border-bottom-right-radius: 0px;
    }
}

.grid-trash {
    display: inline-block;
    float: right;
    vertical-align: top;
    margin-left: 5px;
    button {
        height: 32px;
        vertical-align: bottom;
    }
}

.grid-staged-changes-container {
    .staged-changes-table {
        width: 100%;
        tr:nth-of-type(even) {
            border-top: 1px solid #e5e6e7;
        }
        td {
            // border: 1px solid #e5e6e7;
        }
    }
    border-bottom: 1px solid #e5e6e7;
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        display: inline-block;
    }
    .staged-type {
        border-right: 1px solid #e5e6e7;
        padding: 7px;
        width: 104px;
        font-size: 11px;
        text-align: center;
    }
    .staged-changes-list {
        padding: 5px;
        li {
            display: inline-block;
            margin: 3px 2px;
        }
        .fa-remove {
            &:hover {
                cursor: pointer;
            }
        }
    }
}
