<div id="division-move-confirm-container">

    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Confirm Removal</h4>
    </div>

    <div class="modal-body align-center">

        <p class="d-table center-block"><i class="fa fa-trash fa-5x text-warning" /></p>

        <p>You are about to remove <span class="text-danger"><strong>{{samplesToRemove.length}}</strong></span> selected sample(s). Select the reason for removal below.</p>

        <form name="storageSampleRemoveForm" method="get" class="form-horizontal" ng-submit="submit(storageSampleRemoveForm.$valid)" novalidate>
            <cb-form-group label="Status" name="status">
                <div class="col-sm-10">
                    <cb-dropdown name="status" ng-model="form.status" label="Status" items="statuses" required></cb-dropdown>
                </div>
            </cb-form-group>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="confirm()">Confirm</button>
        <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    </div>

</div>
