/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

// override angular loading bar color
#loading-bar .bar {
    background: #1ab394;
}


.btn {
    outline: none !important;
}
