.full-width {
    width: 100% !important;
}

.gray-bg {
    background-color: #f3f3f4;
}

.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}

.loginscreen.middle-box {
    max-width: 300px;
}

.middle-box {
    h1 {
        font-size: 170px;
    }
}

.logo-name {
    color: #e6e6e6;
    font-size: 180px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0px;
}

.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
    &:hover {
        color: inherit;
        border: 1px solid #d2d2d2;
    }
}

h3 {
    margin-top: 5px;
    font-weight: 600;
    font-size: 16px;
}
