<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <i class="pe-7s-upload modal-icon"></i>
        <h4 class="modal-title">Upload Profile Photo</h4>
        <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
    </div>
    <div class="modal-body">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Upload</button>
        <button class="btn btn-default" ng-click="close()">Cancel</button>
    </div>
</div>
