<form name="dnaProductionForm" method="get" class="form-horizontal" ng-submit="save(dnaProductionForm)" novalidate>

    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">{{ dnaProduction.id ? 'Edit DNA Production Request' : 'Create DNA Production Request' }} {{dnaProduction.id}}</h4>
        <small>{{dnaProduction.id}}</small>
    </div>

    <cb-form form="cbForm">

        <div class="modal-body">

            <div class="col-sm-12 alert alert-danger m-b-md" ng-show="cbForm.errors.length !== 0">
                <p ng-repeat="error in errors">
                    <strong>{{error}}</strong>
                </p>
            </div>

            <cb-form-group label="Attachments" name="attachments">
                <div class="col-sm-10">
                    <cb-form-attachments form="cbForm" files="files" parent-object="dnaProduction"></cb-form-attachments>
                </div>
            </cb-form-group>

            <cb-form-group label="Name" name="name">
                <div class="col-sm-10">
                    <input name="name" type="text" class="form-control" ng-model="dnaProduction.name" required>
                    <div ng-messages="dnaProductionForm.name.$error" ng-show="submitted">
                        <p ng-message="required" class="text-danger">This field is required</p>
                    </div>
                </div>
            </cb-form-group>

            <cb-form-group label="Description" name="description">
                <div class="col-sm-10">
                    <input name="description" type="text" class="form-control" ng-model="dnaProduction.description" required>
                    <div ng-messages="dnaProductionForm.description.$error" ng-show="submitted">
                        <p ng-message="required" class="text-danger">This field is required</p>
                    </div>
                </div>
            </cb-form-group>

            <cb-form-group label="Protocol" name="protocol">
                <div class="col-sm-10">
                    <one-to-one name="protocol" grid="protocolGrid" ng-model="dnaProduction.protocol" parent-object="dnaProduction" bind-to="protocol" placeholder="Link Protocol.." required></one-to-one>
                </div>
            </cb-form-group>

            <cb-form-group label="Projects" name="projects" tooltip="Select the projects related to this request.">
                <div class="col-sm-10">
                    <one-to-many grid="projectGrids[0]" search-grid="projectGrids[1]" parent-object="dnaProduction" bind-to="projects" placeholder="Add Projects..."></one-to-many>
                </div>
            </cb-form-group>

            <cb-form-group label="Samples" name="samples" tooltip="Select the samples needed for this request.">
                <div class="col-sm-10">
                    <one-to-many grid="sampleGrids[0]" search-grid="sampleGrids[1]" parent-object="dnaProduction" bind-to="samples" placeholder="Add Samples..."></one-to-many>
                </div>
            </cb-form-group>

            <cb-form-group label="Volume" name="volume">

                <div class="col-sm-5">
                    <input name="volume" type="text" class="form-control" ng-model="dnaProduction.volume" required money min="0" precision="3">
                    <div ng-messages="dnaProductionForm.volume.$error" ng-show="submitted">
                        <p ng-message="required" class="text-danger">This field is required</p>
                    </div>
                </div>

                <div class="btn-group block col-sm-5" dropdown>
                    <cb-dropdown name="volumeUnits" ng-model="dnaProduction.volumeUnits" label="Volume Unit" items="volumeUnits" required></cb-dropdown>
                </div>

            </cb-form-group>

            <cb-form-group label="Concentration" name="concentration">

                <div class="col-sm-5">
                    <input name="concentration" type="text" class="form-control" ng-model="dnaProduction.concentration" required money min="0" precision="3">
                    <div ng-messages="dnaProductionForm.concentration.$error" ng-show="submitted">
                        <p ng-message="required" class="text-danger">This field is required</p>
                    </div>
                </div>

                <div class="btn-group block col-sm-5" dropdown ng-init="setDefaultConcentrationUnits()">
                    <cb-dropdown name="concentrationUnits" ng-model="dnaProduction.concentrationUnits" label="Concentration Unit" items="concentrationUnits" required></cb-dropdown>
                </div>

            </cb-form-group>

        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="cbForm.isSaving || cbForm.isUploading">Save</button>
            <button type="button" class="btn btn-default" ng-click="close()" ng-disabled="cbForm.isSaving || cbForm.isUploading">Cancel</button>
        </div>

    </cb-form>

</form>
