<!-- Wrapper-->
<div>

    <!-- Navigation -->
    <div ng-include="'common/views/topnavbar-tpl.html'"></div>
    <div ng-include="'common/navigation/navigation-tpl.html'"></div>

    <!-- Page wrapper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="{{$state.current.name}} gray-bg">

        <!-- Main Wrapper -->
        <div id="wrapper" class="gray-bg" ui-view="content"></div>

        <!-- Footer -->

    </div>
    <!-- End page wrapper-->

</div>
