<div id="admin-container">

    <div class="normalheader">
        <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
                <li><a ui-sref="production_dna.index">DNA Production</a></li>
                <li class="active">
                    <span>DNA Request {{dnaRequest.alias}}</span>
                </li>
            </ol>
        </div>
        <div class="hpanel">
            <div class="panel-body">

                  <div class="panel-actions">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-sm btn-default" ng-click="edit(dnaRequest)"><i class="fa fa-edit"/></button>
                        <div class="btn-group panel-more-actions" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog"/>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li>
                                    <a class="dropdown-item" ui-sref="production_dna.complete({id:dnaRequest.id})"><i class="fa fa-check m-r-xs" />Complete</a>
                                    <a class="dropdown-item" href=""><i class="fa fa-trash m-r-xs" />Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="m-t">
                    <h2 class="font-light m-b-xs inline">
                      DNA Request {{dnaRequest.alias}}
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="content">


        <div class="row">

            <div class="col-sm-12">
                <h2><span class="label label-pill label-{{labelClass}} block">{{dnaRequest.status}}</span></h2>
            </div>

            <div class="col-sm-4">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-info" />
                        Details
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table-detail">
                            <tr>
                                <td>Id</td>
                                <td>{{dnaRequest.id}}</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>{{dnaRequest.name}}</td>
                            </tr>
                            <tr>
                                <td>Protocol</td>
                                <td>
                                    <a ui-sref="protocol.detail({id:dnaRequest.protocol.id})">{{dnaRequest.protocol.stringLabel}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Requested Concentration</td>
                                <td>{{dnaRequest.concentrationString}}</td>
                            </tr>
                            <tr>
                                <td>Requested Volume</td>
                                <td>{{dnaRequest.volumeString}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-users"></i>
                        People
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table-detail">
                            <tr>
                                <td>Created By</td>
                                <td>{{dnaRequest.createdBy.fullName}}</td>
                            </tr>
                            <tr>
                                <td>Updated By</td>
                                <td>{{dnaRequest.updatedBy.fullName}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-calendar"></i>
                        Dates
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table-detail">
                            <tr>
                                <td>Created At</td>
                                <td>{{dnaRequest.createdAt | date:'medium'}}</td>
                            </tr>
                            <tr>
                                <td>Last Updated At</td>
                                <td>{{dnaRequest.updatedAt | date:'medium'}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Projects
                    </div>
                    <div class="panel-body no-padding">
                        <grid grid="projectGrid" />
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-flask"></i>
                        Input Samples
                    </div>
                    <div class="panel-body no-padding">
                        <grid grid="inputSampleGrid" />
                    </div>
                </div>
            </div>

            <div class="col-sm-12" ng-if="dnaRequest.status == 'Completed'">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <i class="fa fa-flask"></i>
                        Output Samples
                    </div>
                    <div class="panel-body no-padding">
                        <grid grid="outputSampleGrid" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <cb-attachments object-id="dnaRequest.id" object-class="AppBundle\Entity\Production\DNA"></cb-attachments>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                     <uib-tabset active="active">
                        <uib-tab index="0">
                            <uib-tab-heading>
                                <i class="glyphicon glyphicon-comment"></i> Comments
                            </uib-tab-heading>
                            <div class="panel-body">
                                <cb-object-comments object-type="dnaRequest" object-id="dnaRequest.id"></cb-object-comments>
                            </div>
                        </uib-tab>
                        <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
                            {{tab.content}}
                        </uib-tab>
                        <uib-tab index="3" select="alertMe()">
                            <uib-tab-heading>
                                <i class="glyphicon glyphicon-bell"></i> Activity
                            </uib-tab-heading>
                            <div class="panel-body no-padding">
                                <object-history object-class="AppBundle\Entity\Production\DNA" object-id="dnaRequest.id"></object-history>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>

    </div>
</div>
