<div id="admin-container">

    <div class="normalheader">

        <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
                <li><a ui-sref="dashboard.main">Dashboard</a></li>
                <li class="active">
                    <span>DNA Production Requests</span>
                </li>
            </ol>
        </div>
        <div class="hpanel">
            <div class="panel-body">

                <h2 class="font-light m-b-xs">
                  Complete DNA Production Request {{dnaRequest.alias}}
                </h2>

            </div>
        </div>
    </div>

    <div class="content">


        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        DNA Production Request Completion
                    </div>
                    <div class="panel-body no-padding">

                        <production-pipeline config="productionCompleteConfig"></production-pipeline>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


