<div class="row m-t-sm grid-pagination-top-container">
    <div class="col-sm-6">
        Show
        <select
            class="form-control input-sm page-select"
            ng-change="updatePerPage()"
            ng-model="model.perPage"
            ng-options="option.value for option in model.options"
        >
        </select>
        entries
    </div>
    <div class="col-sm-6">
        <div class="pull-right">
            <div class="input-group">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Search.."
                    ng-model="model.search"
                    typeahead-wait-ms="1000"
                    ng-change="updateSearch()"
                    ng-model-options="{debounce: 300}"
                />
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
