<div class="grid-responsive-table" ng-class="{isEditable: grid.isEditable}">

    <div ng-if="grid.isEditable">

        <div ng-if="grid.removingItems.length || grid.addingItems.length" class="grid-staged-changes-container">
            <table class="staged-changes-table">
                <tr ng-if="grid.addingItems.length">
                    <td class="staged-type">Pending Addition</td>
                    <td>
                        <ul class="staged-changes-list">
                            <li ng-repeat="addingItem in grid.addingItems">
                               <span class="label label-primary">
                                    {{addingItem.id + ' : ' + addingItem.name}} <i class="fa fa-remove" ng-click="removeAddingItem(addingItem)"></i>
                                </span>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr ng-if="grid.removingItems.length">
                    <td class="staged-type">Pending Removal</td>
                    <td>
                        <ul class="staged-changes-list">
                            <li ng-repeat="removingItem in grid.removingItems">
                               <span class="label label-danger">
                                    {{removingItem.id + ' : ' +removingItem.name}} <i class="fa fa-remove" ng-click="restoreRemovedItem(removingItem)"></i>
                                </span>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12 grid-pagination-top-container">

            <span class="">
               Filtering
            </span>

            <div class="grid-per-page-container">

                <select
                    class="form-control"
                    ng-change="refresh()"
                    ng-model="grid.pagination.perPage"
                    ng-options="option for option in grid.perPageOptions"
                >
                </select>

            </div>

            <!-- <div class="grid-filter-container"> -->

                <grid-filter ng-repeat="filter in grid.filters" filter="filter" ng-show="filter.isVisible"></grid-filter>

                <grid-more-filter grid="grid"></grid-more-filter>

                <div class="grid-contains-container">
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control grid-contains-search-input"
                            placeholder="Containing ..."
                            ng-model="grid.search"
                            typeahead-wait-ms="1000"
                            ng-change="refresh()"
                            ng-model-options="{debounce: 300}"
                        />
                        <span class="input-group-btn" ng-click="refresh()">
                            <button class="btn btn-primary grid-contains-search-btn" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>

            <!-- </div> -->

        </div>

    </div>

    <div class="grid-overflow" ng-class="{'no-results': grid.results.length === 0}">
        <table class="table table-striped table-hover table-selectable table-align-center dataTable">
            <thead>
                <tr>
                    <th
                        ng-click="sortColumn(column)"
                        ng-repeat="column in grid.columns"
                        ng-class="{sortable: column.isSortable, isSorting: (column.sortDirection === column.sort.ASC) || (column.sortDirection === column.sort.DESC)}"
                        ng-show="column.isVisible"
                    >
                        <span>{{column.header}}</span>
                        <i ng-if="column.isSortable && column.sortDirection === column.sort.NONE" class="fa fa-sort"></i>
                        <i ng-if="column.sortDirection === column.sort.ASC" class="fa fa-sort-amount-asc"></i>
                        <i ng-if="column.sortDirection === column.sort.DESC" class="fa fa-sort-amount-desc"></i>
                    </th>
                    <th class="action-cell" ng-if="grid.actionTemplate">
                        <grid-show-columns grid="grid" ng-if="grid.allowToggleColumns"></grid-show-columns>
                    </th>
                    <th ng-if="grid.isEditable" class="editable-action-cell" ng-hide="grid.results.length === 0"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="grid.results.length === 0">
                    <td colspan="100" ng-bind="grid.noResultString"></td>
                </tr>
                <tr ng-repeat="result in grid.results" ng-class="{removing: isRemoving(result)}">

                    <td
                        ng-repeat="column in grid.columns"
                        ng-show="column.isVisible"
                    >
                        <a ng-bind="result.{{column.bindTo}}" ng-if="column.sref" ui-sref="{{column.sref}}" class="column-text" ng-class="{'soft-link': !column.isPrimary}" title="{{result[column.bindTo]}}"></a>
                        <span ng-bind="result.{{column.bindTo}}" ng-if="!column.sref" class="column-text" title="{{result[column.bindTo]}}"></span>
                    </td>

                    <td ng-if="grid.actionTemplate" class="action-cell">
                        <div ng-include="grid.actionTemplate" class="action-container"></div>
                    </td>

                    <td ng-if="grid.isEditable" class="editable-action-cell">

                        <div>
                            <button class="btn btn-danger btn-circle" type="button" ng-click="removeItem(result)" ng-show="!isRemoving(result)">
                                <i class="fa fa-trash"></i>
                            </button>
                           <button class="btn btn-success btn-circle" type="button" ng-click="restoreRemovedItem(result)" ng-show="isRemoving(result)">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>

                    </td>

                </tr>
            </tbody>

        </table>
    </div>

    <div class="row m-t-sm" ng-if="grid.results.length > 0">

        <div class="grid-pagination-container">
            <div class="col-sm-6">
                Showing {{grid.pagination.startIndex}} to {{grid.pagination.stopIndex}} of {{grid.pagination.unpaginatedTotal}} results
            </div>
            <div class="col-sm-6" ng-show="grid.pagination.unpaginatedTotal > grid.pagination.perPage">
                <pagination
                    total-items="grid.pagination.unpaginatedTotal"
                    ng-model="grid.pagination.page"
                    max-size="5"
                    class="pagination-sm pull-right no-margin m-n"
                    boundary-links="true"
                    ng-change="refresh()"
                    items-per-page="grid.pagination.perPage"
                >
                </pagination>
            </div>
        </div>

    </div>

</div>
