<div class="grid-responsive-table">

    <div class="row">

        <div class="col-sm-12 grid-pagination-top-container">

            <span class="">
               Filtering
            </span>

            <div class="grid-per-page-container">

                <select
                    class="form-control"
                    ng-change="refresh()"
                    ng-model="grid.pagination.perPage"
                    ng-options="option for option in grid.perPageOptions"
                >
                </select>

            </div>

            <div class="grid-filter-container">

                <grid-filter ng-repeat="filter in grid.filters" filter="filter"></grid-filter>

                <div class="grid-contains-container">
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control grid-contains-search-input"
                            placeholder="Containing ..."
                            ng-model="grid.search"
                            typeahead-wait-ms="1000"
                            ng-change="refresh()"
                            ng-model-options="{debounce: 300}"
                        />
                        <span class="input-group-btn" ng-click="refresh()">
                            <button class="btn btn-primary grid-contains-search-btn" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <table class="table table-striped table-hover table-selectable table-align-center dataTable">

        <thead>
            <tr>
                <th
                    ng-click="sortColumn(column)"
                    ng-repeat="column in grid.columns"
                    ng-class="{sorting: column.isSortable && column.sortDirection === column.sort.NONE, sorting_asc: column.sortDirection === column.sort.ASC, sorting_desc: column.sortDirection === column.sort.DESC}"
                >
                    {{column.header}}
                </th>
                <th ng-if="grid.actionTemplate"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="result in grid.results">
                <td ng-repeat="column in grid.columns" ng-bind="result.{{column.bindTo}}"></td>
                <td ng-if="grid.actionTemplate">
                    <div ng-include="grid.actionTemplate"></div>
                </td>
            </tr>
        </tbody>

    </table>

    <div class="row m-t-sm">

        <div class="grid-pagination-container">
            <div class="col-sm-6">
                Showing {{grid.pagination.startIndex}} to {{grid.pagination.stopIndex}} of {{grid.pagination.unpaginatedTotal}} results
            </div>
            <div class="col-sm-6" ng-show="grid.pagination.unpaginatedTotal > grid.pagination.perPage">
                <pagination
                    total-items="grid.pagination.unpaginatedTotal"
                    ng-model="grid.pagination.page"
                    max-size="5"
                    class="pagination-sm pull-right no-margin m-n"
                    boundary-links="true"
                    ng-change="refresh()"
                    items-per-page="grid.pagination.perPage"
                >
                </pagination>
            </div>
        </div>

    </div>

</div>
