<div id="admin-container">

    <div class="normalheader">

        <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
                <li><a ui-sref="dashboard.main">Dashboard</a></li>
                <li class="active">
                    <span>Production Pipeline</span>
                </li>
            </ol>
        </div>
        <div class="hpanel">
            <div class="panel-body">

                <h2 class="font-light m-b-xs">
                   Production Pipelines
                </h2>

                <small>Manage Production Pipelines</small>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                <button class="btn btn-primary btn-block btn-mobile-stack" ui-sref="production_pipeline.create">Create Pipeline</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Requests
                    </div>
                    <div class="panel-body no-padding">

                        <grid grid="pipelineGrid"></grid>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


