<div id="admin-container">

    <div class="normalheader">

        <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
                <li><a ui-sref="dashboard.main">Dashboard</a></li>
                <li class="active">
                    <span>Production Pipeline Creation</span>
                </li>
            </ol>
        </div>
        <div class="hpanel">
            <div class="panel-body">

                <h2 class="font-light m-b-xs">
                   Production Pipeline Create
                </h2>

                <small>Create Production Pipelines</small>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="row">
            <div class="col-sm-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Create
                    </div>
                    <div class="panel-body no-padding">

                        <pipeline-form></pipeline-form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


